.checked {
    color: rgb(255, 0, 0);
    text-decoration: line-through;
    font-style: italic;
}
  
.fa, .far, .fas {
    margin: 0 5px;
    color: #bbb;
}
  
li>label[for='todo'] {
    width: 210px;
}

.delete:hover{
    color : red;
}

.create-information:hover, .more-information:hover {
    color : rgb(255, 187, 0); 
}

label:hover{
    background-color: rgb(145, 208, 238)
}