.checked {
    color: rgb(255, 0, 0);
    text-decoration: line-through;
    font-style: italic;
}
  
li > i {
    margin: 0 5px;
    color: #bbb;
}
  
li>label[for='todo'] {
    width: 210px;
}

.delete-item:hover{
    color : red;
}

.create-information:hover, .more-information:hover {
    color : rgb(255, 187, 0); 
}

label:hover{
    background-color: rgb(145, 208, 238)
}

.explain-img {
    width: 90%;
}

.btn-group{
    height: 45px;
}
